.card-product{
    width:280px;
    height:395px;
    background-color:#efeaea;
    border-radius: 8px;
    border: 1px solid #B4B1B1;
}
.img-product{
    display: block;
    padding-top: 0px;
    padding-bottom: 0;
    margin: 0;
}
.infor-product p {
    font-family: 'arial',;
    font-size: 32px;
    font-weight: 700;
    display: flex;
    margin-top: 0;
    padding-left: 24px;
    width: 212px;
    height: 37px;
}
.infor-product h1{
    font-family: 'arial',;
    font-size: 24px;
    font-weight: 700;
    display: flex;
    padding-left: 24px;
    width: 194px;
    height: 28px;
}
.evaluate-benifit{
    display: flex;
    padding-left: 24px;
}
.img-star{
    display: block;
    width: 86.06px;
    height: 16px;
    padding-top: 14px;
}
.evaluate-benifit h2{
    color:#D70000;
    font-family: 'arial',;
    font-size: 16px;
    height: 18px;
    font-weight: 700;
    padding-top: 12px;
    padding-left: 80px;
}
.price{
    height:28px;
    display: flex;
    padding-left: 27px;
}
.img-cart{
    display: block;
    width: 28.46px;
    height: 28px;
    padding-top: 7px;
    padding-left: 100px;
    margin: 0;
}
.price h3 {
    /* height: 28px;
    width: 94px; */
    padding-top: 7px;
    font-family: 'arial',;
    font-size: 24px;
    font-weight: 700;
}
h4{
    width: 98px;
    height: 22px;
    background-color: #00CA14;
    border-radius: 15px;
    border: #B4B1B1 1px solid;
    margin-top: 13px;
    text-align: center;
    margin-left: 27px;
}
h4 a{
    color:#FFFFFF;
    text-decoration: none;
}